<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Generator</title>
    </head>

    <body>
        <form method="GET" action=".">
            <input name="amount" type="number">
            <button type="submit">Generate</button>
        </form>
        {% if amount %}
        <h3>{{ amount }} случайных пользователей</h3>
            {% for key, val in res.items() %}
                <p>{{ key }} {{ val }}</p>
            {% endfor %}
        {% endif %}
    </body>

</html>