<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>My music collection</title>
     <style type="text/css">
   TABLE {
    width: 600px; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
   }
   TD, TH {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid black; /* Параметры рамки */
   }
   TH {
    background: #b0e0e6; /* Цвет фона */
   }
  </style>
    </head>
    <body>
        <h1>Music collection</h1>
        <form action="/my_music/search_music/" target="_blank">
             <button>Search music</button>
        </form>
        <form action="/my_music/add_music/">
             <button>Add music</button>
        </form>

        <table>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Duration</th>
            </tr>
            {% for id, title, author, duration in data %}
            <tr>
                <td>{{ title }}</td>
                <td>{{ author }}</td>
                <td>{{ duration }}</td>


                <td><form method="GET" action="/my_music/rename_music/" target="_blank">
                        <button name="button_rename" value="{{ id }}" type="submit">Rename</button>
                    </form>
                </td>
                <td>
                    <form method="POST" action=".">
                        <button name="del" value="{{ id }}" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>

    </body>
    </html>