<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Rename_music</title>
    </head>
    <body>
        <h2>Rename</h2>
        <table>
            <tr>
                <td></td>
                <td>Title: <b>{{ data_track[1] }}</b></td>
                <td>Author: <b>{{ data_track[2] }}</b></td>
            <tr>
                <td><h4>New name: </h4></td>
                <form method="POST" action=".">
                <td>
                    <select name="select">
                        <option value="title">title</option>
                        <option value="author">author</option>
                    </select>
                </td>
                <td>
                    <input name="text_input" type="text">
                    <button name="rename" value="{{ data_track[0] }}" type="submit">Save</button>
                </td>
                </form>

            </tr>
        </table>

    </body>
</html>