<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Requirements</title>
    </head>

    <body>
        <h1>Содержимое файла requirements.txt</h1>
        {% for library in requirements %}
            <p>{{ library }}</p>
        {% endfor %}
    </body>

</html>