<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Space</title>
    </head>

    <body>
    <h3>{{ res_num }} космонавтов в космосе</h3>
        {% for value in dict_people %}
            <p>{{ value['name'] }}</p>
        {% endfor %}
    </body>
</html>